#nav-button{
    background-color: rgba(38, 34, 34, 1);
    width: 80%;
    border: 2px solid #ffc107;

}

#nav-button:hover {
    background-color: rgba(38, 34, 34, 0.3);
    border: 1px solid black;
    color: white;
}


#mainButton{
    background-color: rgba(38, 34, 34, 1);
    width: 15vw;
    height: 5vh;
    
}
